    <footer class="footer">
        <div class="footer__featured">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.google.android.apps.growthengine"><img src="<%= require('../assets/images/play-store.png') %>" alt="Download on Play Store"></a>
            <a target="_blank" href="https://itunes.apple.com/gb/app/learn-digital/id1206273386?l=en&amp;mt=8"><img src="<%= require('../assets/images/app-store.png') %>" alt="Download on App Store"></a>
            <div class="footer__social">
                <span>Share</span>
                <a href="https://plus.google.com/share?url=g.co/DigitalGarage" target="_blank">
                    <img src="<%= require('../assets/images/social-google.png') %>" class="Google Plus" />
                </a>
                <a href="http://www.facebook.com/sharer/sharer.php?u=https://learndigital.withgoogle.com/digitalgarage" target="_blank">
                    <img src="<%= require('../assets/images/social-facebook.png') %>" class="Google Plus" />
                </a>
                <a href="https://twitter.com/share?url=https://g.co/DigitalGarage&text=Free%20Training%20Course%20From%20Google" target="_blank">
                    <img src="<%= require('../assets/images/social-twitter.png') %>" class="Google Plus" />
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://learndigital.withgoogle.com/digitalgarage&title=Free%20digital%20marketing%20certificate%20from%20Google&summary=Check%20out%20this%20digital%20marketing%20course%20and%20learn%20the%20skills%20needed%20to%20boost%20your%20CV&source=" target="_blank">
                    <img src="<%= require('../assets/images/social-linkedin.png') %>" class="Google Plus" />
                </a>
            </div>
        </div>
        <nav class="footer__nav">
            <img src="<%= require('../assets/images/logo-dark.png') %>" />
            <a href="#">FAQs</a>
            <a href="#">Privacy &amp; Terms</a>
        </nav>
    </footer>
</body>
</html>
